body {
    width:50%;
    margin: 2 auto;
    text-align: center;
    background-color:pink;
}
h2 {
    color:white;
}

p {
    color:white;
}

h3 {
    color:white;
}

div.gallery {
  border: 3px dashed papayawhip;
}

div.gallery:hover {
  border: 3px dashed #B2ED95;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
  color: white;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 18px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}